<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <royalmailshipping>
            <trackingapi>
            	<enable>0</enable>
                <service_enhancement>0</service_enhancement>
                <signature_required>0</signature_required>
            </trackingapi>
        </royalmailshipping>
    </default>
</config>

