<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <governments>
            <government>
                <breadcrumbs>1</breadcrumbs>
                <meta_title>Governments</meta_title>
            </government>
        </governments>
    </default>
</config>
